<div ng-show="!showEasteregg">
    <div id="backgroundDiv" style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background: radial-gradient(ellipse at center,#fcfcfc 0,#aeb5c5 100%); z-index: -2"></div>
    <canvas id="canvas" style="position: fixed; opacity: 0.1; top: 0px; left: 0px; width: 100%; height: 100%; z-index: -1;"></canvas>
    <!--
    <input type="checkbox" name="animationcheck" id="animationcheck1" ng-model="animationRunning" ng-change="toggleAnimation()" style="position:fixed; bottom:0px; right: 0px;">
    -->
</div>

<!--
<label on-click-and-hold="clickHold()" id="animation_label" for="animationcheck1" style="height: 22px; position:fixed; bottom:0px; right: 15px; margin-bottom: 0px; color: gray;">toggle animation</label>
-->

<!--
<div id="Circle" ng-show="showEasteregg">
    <div id="overlay"></div>
    <div id="cont">
        <div class="top">
            <div class="dome"></div>
            <div class="fan">
                <div class="fan_blade1"></div>
                <div class="fan_blade2"></div>
                <div class="fan_blade3"></div>
                <div class="fan_blade4"></div>
            </div>
            <div class="mill"></div>
            <div class="moon"></div>
            <div class="sky">
                <div class="stars">
                    <div class='stars1'></div>
                    <div class='stars2'></div>
                    <div class='stars3'></div>
                </div>
                <div class="tailstar"></div>
            </div>
            <div class="floor">
                <span class="tree1"></span>
                <span class="tree2"></span>
                <span class="tree3"></span>
            </div>
        </div>
        <div class="bottom">
            <div class="moon"></div>
            <div class="sky sky-reflect">
                <div class="stars">
                    <div class='stars1'></div>
                    <div class='stars2'></div>
                    <div class='stars3'></div>
                </div>
                <div class="tailstar"></div>
            </div>
            <div class="dome"></div>
            <div class="fan">
                <div class="fan_blade1"></div>
                <div class="fan_blade2"></div>
                <div class="fan_blade3"></div>
                <div class="fan_blade4"></div>
            </div>
            <div class="mill"></div>
            <div class="floor">
                <span class="tree1"></span>
                <span class="tree2"></span>
                <span class="tree3"></span>
            </div>
        </div>
    </div>
</div>
-->